# Remove flights and trains going from the same city to the same city

In [84]:
import pandas as pd

In [85]:
df_flights = pd.read_csv('../data/flight_connections_with_distance_two_way.csv')
df_trains = pd.read_csv('../data/Train_connections_with_distance_two_way.csv')

In [86]:
df_flights.columns

Index(['airline', 'airline ID', ' source airport', ' source airport id',
       'destination airport', ' destination airport id', ' stops',
       ' equipment', 'source_longitude', 'source_latitude', 'source_city',
       'source_country', 'source_country_code', 'dest_longitude',
       'dest_latitude', 'dest_city', 'dest_country', 'dest_country_code',
       'distance', 'new_source_latitude', 'new_source_longitude',
       'new_dest_latitude', 'new_dest_longitude', 'new_distance'],
      dtype='object')

In [87]:
df_trains.columns

Index(['departure_id', 'departure_city', 'departure_name',
       'departure_latitude', 'departure_longitude', 'destination_id',
       'destination_city', 'destination_name', 'destination_latitude',
       'destination_longitude', 'distance', 'new_dep_latitude',
       'new_dep_longitude', 'new_dest_latitude', 'new_dest_longitude',
       'new_distance'],
      dtype='object')

In [88]:
print(f'length of flights: {len(df_flights)}')
print(f'length of trains: {len(df_trains)}')

length of flights: 5670
length of trains: 1892

In [89]:
# if a train goes from city A to city A, it is not useful. Remove them. 
for index, row in df_trains.iterrows():
    if row['destination_city'] == row['departure_city']:
        df_trains.drop(index, inplace=True)

# if a flight goes from city A to city A, it is not useful. Remove them.
for index, row in df_flights.iterrows():
    if row['source_city'] == row['dest_city']:
        df_flights.drop(index, inplace=True)

In [90]:
print(f'length of flights: {len(df_flights)}')
print(f'length of trains: {len(df_trains)}')

length of flights: 5670
length of trains: 1826

# Delete NAN routes

In [91]:
# check if there are any duplicates in the dataframes only looking at the columns source_city, dest_city
df_flights[['source_city', 'dest_city']].duplicated().sum()

# print them only showing the columns source_city, dest_city
print(df_flights[df_flights[['source_city', 'dest_city']].duplicated()]['source_city'])

print(f'length of flights: {len(df_flights)}')

# drop the duplicates
df_flights.drop_duplicates(subset=['source_city', 'dest_city'], inplace=True)
df_flights.dropna(how='all', inplace=True)


print(f'length of flights: {len(df_flights)}')

2403    NaN
2422    NaN
3840    NaN
5238    NaN
5257    NaN
Name: source_city, dtype: object
length of flights: 5670
length of flights: 5664

In [92]:
# check the same for trains
df_trains[['departure_city', 'destination_city']].duplicated().sum()

print(df_trains[df_trains[['departure_city', 'destination_city']].duplicated()]['departure_city'])

print(f'length of trains: {len(df_trains)}')

df_trains.drop_duplicates(subset=['departure_city', 'destination_city'], inplace=True)

# drop if all values of a row are NaN
df_trains.dropna(how='all', inplace=True)

print(f'length of trains: {len(df_trains)}')

133     NaN
185     NaN
186     NaN
227     NaN
228     NaN
233     NaN
549     NaN
584     NaN
585     NaN
586     NaN
628     NaN
629     NaN
1030    NaN
1079    NaN
1131    NaN
1132    NaN
1173    NaN
1174    NaN
1179    NaN
1495    NaN
1530    NaN
1531    NaN
1532    NaN
1574    NaN
1575    NaN
Name: departure_city, dtype: object
length of trains: 1826
length of trains: 1800

In [93]:
# save them
df_flights.to_csv('../data/flight_connections_filtered.csv', index=False)
df_trains.to_csv('../data/Train_connections_filtered.csv', index=False)